/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 80px;
  border-radius: 0;
}

.main-header {
  background-color: #47aa42;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-weight: 600;
}

.submit-button {
  margin-top: 20px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
.navbar-bottom {
  color: gray;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content { height:auto; }
}

.landing-button i {
    display: block;
}

.landing-button a {
    text-decoration: none;
}

.landing-button {
    font-size: 3.5rem;
    font-weight: bolder;
    border-color: silver;
    border-width: thin;
    border-style: solid;
    border-radius: 5rem;
    box-shadow: 10px 10px 5px #cccccc;
    margin-top: 5rem;
}

.landing-button:hover {
    border-color: gray;
    box-shadow: 8px 8px 3px #999999;
}

.fasize{
    font-size:300px;
}

.has-need, 
.has-need a {
    color: lightseagreen;
}

.volunteer,
.volunteer a {
    color: crimson;
}

ul {
  list-style-type: none;
}
.fafaLightBlue{
    color: aliceblue;
}

/* Style usage counters */
.counter-section {
    font-size: 2.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    opacity: 87%;
    font-weight: bold;
}
.counter {
    font-weight: bolder;
    font-size: 115%;
}