<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ config.TITLE }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
  <script src="{{ url_for('static',filename='js/bootstrap-checkbox.js') }}"></script>
  <script>
      $(document).ready(function() {
            $(':checkbox').checkboxpicker();
      });
  </script>
</head>
<body>
    <nav class="navbar navbar-inverse main-header" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class='navbar-brand main-brand-text' href='/'>
                Cale
                <small>
                (v0.1)
                </small>
                </a>
            </div>

            <ul class='nav navbar-nav navbar-right'>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/register_user">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class='container'>
        <div class='content'>
            {% with messages = get_flashed_messages(with_categories=true) %}
              <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
              {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </div>
    </div>

    <br />

    <hr />

    <nav class="navbar-bottom" role="navigation">
        <center>{{ config.FOOTER }}</center>
    </nav>
</body>
</html>
