{% extends "base.html" %}
{% block content %}
  {{ super() }}
  <h4>CALE Contact</h4>

  <p>1234 Compassion Court</p>
  <p>Saint Louis, MO 63010</p>

  <p><a href="tel:+13144238371">314.423.8371</a></p>

  <br />

  <h4>HOW IT WORKS</h4>

  <p>Those in need can register on the app which will be accessible to local resource providers. This will expedite receipt of support services. Volunteers, community organizations and donors can link up directly with those who are homeless to provide supplies needed in real time.</p>
{% endblock %}
