<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ config.TITLE }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/font-awesome.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
</head>
<body ng-app="mainApp">
<nav class="navbar navbar-inverse main-header" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class='navbar-brand main-brand-text'>
                Cale
                <small>
                    (v0.1)
                </small>
            </a>
        </div>

        <ul class='nav navbar-nav navbar-right'>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/register_user">Register</a>
            </li>
        </ul>
    </div>
</nav>

<div class='container'>
    <div class='content'>
        <div ng-view/>
    </div>
</div>

<hr />

<nav class="navbar-bottom" role="navigation">
    <center>{{ config.FOOTER }}</center>
</nav>

<script src="../static/scripts/jquery-3.1.1.min.js"></script>
<script src="../static/scripts/bootstrap.min.js"></script>
<script src="../static/scripts/angular.min.js"></script>
<script src="../static/scripts/ngStorage.min.js"></script>
<script src="../static/scripts/angular-route.min.js"></script>
<script src="../scripts/local/app.js"></script>
<script src="../scripts/local/controllers/master.js"></script>
<script src="../scripts/local/controllers/login.js"></script>
<script src="../scripts/local/controllers/provider.js"></script>
<script src="../scripts/local/controllers/counter.js"></script>

<script type="text/ng-template" id="loginTemplate.htm">
    <div class="login" ng-controller="loginController">
        <form action="javascript:void(0);" class="form-horizontal">
            <div class='form-group'>
                <label for="username" class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="username" placeholder="Username" ng-model="login.username" />
                </div>
            </div>
            <div class='form-group'>
                <label for="password" class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" placeholder="Password" name="password" ng-model="login.password" />
                </div>
            </div>
            <div class='form-group submit-button'>
                <div class="col-sm-offset-2 col-sm-5">
                    <input type="submit" class="btn btn-primary" value="Submit" ng-enabled="canSubmitLogin()" ng-click="submitLogin(login)" />
                </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="providerTemplate.htm">
    <div ng-controller="providerController" >
        <div class="greeting">
            Welcome back!
        </div>
        <div class="basicInfo">
            <form action="javascript:void(0);" ng-disabled="!isEditing" class="form-vertical">
                <div class="form-group">
                    <label for="providerInfoName" class="col-sm-2 control-label">Name: </label>
                    <input type=text name="providerInfoName" class="form-control" ng-model="providerInfo.name" />
                </div>
                <div class="form-group">
                    <label for="providerInfoAddress" class="col-sm-2 control-label">Street Address: </label>
                    <input type=text name="providerInfoAddress" class="form-control" ng-model="providerInfo.street_address" />
                </div>
                <div class="form-group">
                    <label for="providerInfoCity" class="col-sm-2 control-label">City: </label>
                    <input type=text name="providerInfoCity" class="form-control" ng-model="providerInfo.city" />
                </div>
                <div class="form-group">
                    <label for="providerInfoZip" class="col-sm-2 control-label">Zip Code: </label>
                    <input type=text name="providerInfoZip" class="form-control" ng-model="providerInfo.zip_code" />
                </div>
                <div class="form-group">
                    <label for="providerInfoDescription" class="col-sm-2 control-label">Description: </label>
                    <input type=text name="providerInfoDescription" ng-model="providerInfo.description" />
                </div>
                <div class="form-group">
                    <button ng-hide="isEditing" class="btn btn-primary" ng-click="isEditing = true">Edit</button>
                    <button ng-show="isEditing" class="btn btn-primary" ng-click="sendProviderInfo()">Update</button>
                    <button ng-show="isEditing" class="btn" ng-click="isEditing = false">Cancel</button>
                </div>
            </form>
        </div>
        <form class="form-vertical">
            <div class="row">
                <div class="needs col-md-3">
                    <div ng-class="getClassForNeed('food')">
                        <a href="javascript:void(0);" class="needlabel" ng-click="toggleNeedSelection('food')">Food</a>
                        <a href="javascript:void(0);" class="needLink" ng-show="getClassForNeed('food') == 'selected'" ng-click="showNeedFlyout('food')">&gt;</a>
                    </div>
                    <div ng-class="getClassForNeed('shelter')">
                        <a href="javascript:void(0);" class="needlabel" ng-click="toggleNeedSelection('shelter')">Shelter</a>
                        <a href="javascript:void(0);" class="needLink" ng-show="getClassForNeed('shelter') == 'selected'" ng-click="showNeedFlyout('shelter')">&gt;</a>
                    </div>
                    <div ng-class="getClassForNeed('clothes')">
                        <a href="javascript:void(0);" class="needlabel" ng-click="toggleNeedSelection('clothes')">Clothes</a>
                        <a href="javascript:void(0);" class="needLink" ng-show="getClassForNeed('clothes') == 'selected'" ng-click="showNeedFlyout('clothes')">&gt;</a>
                    </div>
                    <div ng-class="getClassForNeed('education')">
                        <a href="javascript:void(0);" class="needlabel" ng-click="toggleNeedSelection('education')">Education</a>
                        <a href="javascript:void(0);" class="needLink" ng-show="getClassForNeed('education') == 'selected'" ng-click="showNeedFlyout('education')">&gt;</a>
                    </div>
                    <div ng-class="getClassForNeed('healthcare')">
                        <a href="javascript:void(0);" class="needlabel" ng-click="toggleNeedSelection('healthcare')">Healthcare</a>
                        <a href="javascript:void(0);" class="needLink" ng-show="getClassForNeed('healthcare') == 'selected'" ng-click="showNeedFlyout('healthcare')">&gt;</a>
                    </div>
                </div>
                <div class="needsflyout" col-md-6>
                    <div ng-show=flyoutShownfood>
                        Food Info
                        <label for="foodType" class="control-label">Type: </label>
                        <input type=text name="foodType" class="form-control" ng-model="needAttrs.food.type" />
                        <label for="foodMeals" class="control-label">Number of Meals: </label>
                        <input type=text name="foodMeals" class="form-control" ng-model="needAttrs.food.number_of_meals" />
                        <label for="foodExpiration" class="control-label">Expiration Date: </label>
                        <input type=text name="foodExpiration" class="form-control" ng-model="needAttrs.food.expiration" />
                    </div>
                    <div ng-show=flyoutShownshelter>
                        Shelter Info
                        <label for="shelterCount" class="control-label">Bed Count: </label>
                        <input type=text name="shelterCount" class="form-control" ng-model="needAttrs.shelter.count" />
                    </div>
                    <div ng-show=flyoutShownclothes>
                        Clothes Info
                        <label for="clothesTopics" class="control-label">Topics: </label>
                        <input type=text name="clothesTopics" class="form-control" ng-model="needAttrs.clothes.topics" />
                        <label for="clothesHours" class="control-label">Available Hours: </label>
                        <input type=text name="clothesHours" class="form-control" ng-model="needAttrs.clothes.hours" />
                    </div>
                    <div ng-show=flyoutShowneducation>
                        Education Info
                        <label for="educationTopics" class="control-label">Topics: </label>
                        <input type=text name="educationTopics" class="form-control" ng-model="needAttrs.education.topics" />
                        <label for="educationHours" class="control-label">Available Hours: </label>
                        <input type=text name="educationHours" class="form-control" ng-model="needAttrs.education.hours" />
                    </div>
                    <div ng-show=flyoutShownhealthcare>
                        Healthcare Info
                        <label for="healthcareTopics" class="control-label">Topics: </label>
                        <input type=text name="healthcareTopics" class="form-control" ng-model="needAttrs.healthcare.topics" />
                        <label for="healthcareHours" class="control-label">Available Hours: </label>
                        <input type=text name="healthcareHours" class="form-control" ng-model="needAttrs.healthcare.hours" />
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit" ng-click="submitProviderNeeds()" />
        </form>

    </div>
</script>

<script type="text/ng-template" id="landing.htm">
    <div class="row">
        <div  class="col-md-6 text-center" ><a href="/help.html"> <i class="fa fa-heartbeat fasize colorlightseagreen"></i></a></div>
        <div class="col-md-6 text-center"><a href="/want_to_help"><i class="fa fa-medkit fasize colorlightcrimson"></i></a></div>
    </div>
    <div class='counter-section text-center'>
            <div>Our <span class="counter volunteer-count"><span ng-bind="volCount"></span> volunteers</span> have helped us to make</div>
            <div class="counter connection-count"><span ng-bind="connCount"></span> connections!</div>
        </div>
</script>


<script type="text/ng-template" id="options.htm">
    <section>
        <div class= "text-center">
          <img src="img/logo.png" alt width="10%" id="logo">
        </div>


        <ul id="gallery" class="text-center" width="100%">
          <li width="100%">
            <a href="img/foodborder.png">
              <img src="img/foodborder.png" alt width="50%">
            </a>
          </li>
          <li width="100%">
            <a href="img/shelterboorder.png">
              <img src="img/shelterboorder.png" alt width="50%">
            </a>
          </li>
          <li width="100%">
            <a href="img/clothesboorder.png">
              <img src="img/clothesboorder.png" alt width="50%">
            </a>
          </li>
          <li width="100%">
            <a href="img/educationboorder.png">
              <img src="img/educationboorder.png" alt width="50%">
            </a>
          </li>
          <li width="100%">
            <a href="img/healthcareboorder.png">
              <img src="img/healthcareboorder.png" alt width="50%">
            </a>
          </li>
        </ul>
      </section>
</script>

    <style>
        .selected {
            background-color: blue;
        }
    </style>

</body>
</html>
