
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cale | Care and Compassion at Your Fingertips</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
</head>
<body ng-app="mainApp" ng-init="providerInfo={name:''}">
    <nav class='navbar navbar-default' role='navigation'>
    <nav class="navbar navbar-inverse main-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class='navbar-brand main-brand-text'>
                Cale
                <small>
                (v0.1)
                </small>
                </a>
            </div>

        </div>
    </nav>

    <div class='container'>
        <div class='content'>
            <div ng-view/>
        </div>
    </div>

    <hr />

    <nav class="navbar-bottom" role="navigation">
        <center>{{ config.FOOTER }}</center>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="../scripts/local/app.js"></script>
    <script src="../scripts/local/controllers/master.js"></script>
    <script src="../scripts/local/controllers/login.js"></script>
    <script src="../scripts/local/controllers/provider.js"></script>

    <script type="text/ng-template" id="loginTemplate.htm">
        <div class="login" ng-controller="loginController">
            <form action="javascript:void(0);" class="form-horizontal">
                <div class='form-group'>
                    <label for="username" class="col-sm-2 control-label">Username:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="username" placeholder="Username" ng-model="login.username" />
                    </div>
                </div>
                <div class='form-group'>
                    <label for="password" class="col-sm-2 control-label">Password:</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" placeholder="Password" name="password" ng-model="login.password" />
                    </div>
                </div>
                <div class='form-group submit-button'>
                    <div class="col-sm-offset-2 col-sm-5">
                        <input type="submit" class="btn btn-primary" value="Submit" ng-enabled="canSubmitLogin()" ng-click="submitLogin(login)"
                    </div>
                </div>
            </form>
        </div>
    </script>

    <script type="text/ng-template" id="providerTemplate.htm">
        <div ng-controller="providerController" >
            <div class="greeting">
                Welcome back!
            </div>
            <div class="basicInfo">
                <form action="javascript:void(0);">
                    <div ng-repeat="(key, value) in providerInfo">
                        <label for="provider-{{key}}">{{key}}</label>
                        <input type=text name="provider-{{key}}" ng-model="providerInfo[key]" />
                    </div> 
                    <button ng-hide="isEditing" ng-click="isEditing = true">Edit</button>
                    <button ng-show="isEditing" ng-click="sendProviderInfo()">Update</button>
                    <button ng-show="isEditing" ng-click="isEditing = false">Cancel</button>
                </form>
            </div>
            <div class="needs">
                <div ng-repeat="need in allNeeds" class="{{getClassForNeed(need)}}">
                    <div>{{need}}</div>
                </div>
            </div>
        
        </div>
    </script>

</body>
</html>
