<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ config.TITLE }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/font-awesome.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

</head>
<body ng-app="mainApp">
<nav class="navbar navbar-inverse main-header" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class='navbar-brand main-brand-text'>
                Cale
                <small>
                    (v0.1)
                </small>
            </a>
        </div>

        <ul class='nav navbar-nav navbar-right'>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/register_user">Register</a>
            </li>
        </ul>
    </div>
</nav>

<!--
    <i class="fa fa-heartbeat fa-5x"></i>
    <xi class="fa fa-medkit fa-5x"></i>
-->

<div class='container'>
    <div class='content'>
        <div ng-view/>
    </div>
</div>

<hr />

<nav class="navbar-bottom" role="navigation">
    <center>{{ config.FOOTER }}</center>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
<script src="../scripts/local/app.js"></script>
<script src="../scripts/local/controllers/master.js"></script>
<script src="../scripts/local/controllers/login.js"></script>
<script src="../scripts/local/controllers/provider.js"></script>

<script type="text/ng-template" id="loginTemplate.htm">
    <div class="login" ng-controller="loginController">
        <form action="javascript:void(0);" class="form-horizontal">
            <div class='form-group'>
                <label for="username" class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="username" placeholder="Username" ng-model="login.username" />
                </div>
            </div>
            <div class='form-group'>
                <label for="password" class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" placeholder="Password" name="password" ng-model="login.password" />
                </div>
            </div>
            <div class='form-group submit-button'>
                <div class="col-sm-offset-2 col-sm-5">
                    <input type="submit" class="btn btn-primary" value="Submit" ng-enabled="canSubmitLogin()" ng-click="submitLogin(login)" />
                </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="providerTemplate.htm">
    <div ng-controller="providerController" >
        <div class="greeting">
            Welcome back, {{providerInfo.name}}!
        </div>
        <div class="basicInfo">
            <form action="javascript:void(0);" ng-disabled="!isEditing" class="form-vertical">
                <label for="providerInfoName" class="col-sm-2 control-label">Name: </label>
                <input type=text name="providerInfoName" class="form-control" ng-model="providerInfo.name" />
                <label for="providerInfoAddress" class="col-sm-2 control-label">Street Address: </label>
                <input type=text name="providerInfoAddress" class="form-control" ng-model="providerInfo.street_address" />
                <label for="providerInfoCity" class="col-sm-2 control-label">City: </label>
                <input type=text name="providerInfoCity" class="form-control" ng-model="providerInfo.city" />
                <label for="providerInfoZip" class="col-sm-2 control-label">Zip Code: </label>
                <input type=text name="providerInfoZip" class="form-control" ng-model="providerInfo.zip_code" />
                <label for="providerInfoDescription" class="col-sm-2 control-label">Description: </label>
                <input type=text name="providerInfoDescription" ng-model="providerInfo.description" />
                <button ng-hide="isEditing" class="btn btn-primary" ng-click="isEditing = true">Edit</button>
                <button ng-show="isEditing" class="btn btn-primary" ng-click="sendProviderInfo()">Update</button>
                <button ng-show="isEditing" class="btn" ng-click="isEditing = false">Cancel</button>
            </form>
        </div>
        <form class="form-vertical">
            <div class="needs col-md-3">
                <div ng-class="getClassForNeed('food')">
                    <a href="javascript:void(0);" class="needlabel" ng-click="toggleNeedSelection('food')">Food</a>
                    <a href="javascript:void(0);" class="needLink" ng-show="getClassForNeed('food') == 'selected'" ng-click="showNeedFlyout('food')">&gt;</a>
                </div>
                <div ng-class="getClassForNeed('beds')">
                    <a href="javascript:void(0);" class="needlabel" ng-click="toggleNeedSelection('beds')">Beds</a>
                    <a href="javascript:void(0);" class="needLink" ng-show="getClassForNeed('beds') == 'selected'" ng-click="showNeedFlyout('beds')">&gt;</a>
                </div>
                <div ng-class="getClassForNeed('training')">
                    <a href="javascript:void(0);" class="needlabel" ng-click="toggleNeedSelection('training')">Training</a>
                    <a href="javascript:void(0);" class="needLink" ng-show="getClassForNeed('training') == 'selected'" ng-click="showNeedFlyout('training')">&gt;</a>
                </div>
            </div>
            <div class="needsflyout col-md-6" ng-show=flyoutShownfood>
                Food Info
                <label for="foodType" class="control-label">Type: </label>
                <input type=text name="foodType" class="form-control" ng-model="providerInfo.needs[food].type" />
                <label for="foodMeals" class="control-label">Number of Meals: </label>
                <input type=text name="foodMeals" class="form-control" ng-model="providerInfo.needs[food].number_of_meals" />
                <label for="foodExpiration" class="control-label">Expiration Date: </label>
                <input type=text name="foodExpiration" class="form-control" ng-model="providerInfo.needs[food].expiration" />
            </div>
            <div class="needsflyout col-md-6" ng-show=flyoutShownbeds>
                Beds Info
                <label for="bedsCount" class="control-label">Bed Count: </label>
                <input type=text name="bedsCount" class="form-control" ng-model="providerInfo.needs[beds].count" />
            </div>
            <div class="needsflyout col-md-6" ng-show=flyoutShowntraining>
                Training Info
                <label for="trainingTopics" class="control-label">Topics: </label>
                <input type=text name="trainingTopics" class="form-control" ng-model="providerInfo.needs[training].topics" />
                <label for="trainingHours" class="control-label">Available Hours: </label>
                <input type=text name="trainingHours" class="form-control" ng-model="providerInfo.needs[training].hours" />
            </div>
            <input type="submit" class="btn btn-primary" value="Submit" ng-click="submitProviderNeeds()" />
        </form>

    </div>
</script>

<script type="text/ng-template" id="landing.htm">

    <div class="row">
        <div  class="col-md-6 text-center" ><a href="#/options"> <i class="fa fa-heartbeat fasize colorlightseagreen"></i></a></div>
        <div class="col-md-6 text-center"><a href="#/login"><i class="fa fa-medkit fasize colorlightcrimson"></i></a></div>
    </div>
</script>


<script type="text/ng-template" id="options.htm">
    <section>
        <div class= "text-center">
          <img src="img/logo.png" alt width="10%" id="logo">
        </div>


        <ul id="gallery" class="text-center" width="100%">
          <li width="100%">
            <a href="img/foodborder.png">
              <img src="img/foodborder.png" alt width="50%">
            </a>
          </li>
          <li width="100%">
            <a href="img/shelterboorder.png">
              <img src="img/shelterboorder.png" alt width="50%">
            </a>
          </li>
          <li width="100%">
            <a href="img/clothesboorder.png">
              <img src="img/clothesboorder.png" alt width="50%">
            </a>
          </li>
          <li width="100%">
            <a href="img/educationboorder.png">
              <img src="img/educationboorder.png" alt width="50%">
            </a>
          </li>
          <li width="100%">
            <a href="img/healthcareboorder.png">
              <img src="img/healthcareboorder.png" alt width="50%">
            </a>
          </li>
        </ul>
      </section>
</script>

    <style>
        .selected {
            background-color: blue;
        }
    </style>

</body>
</html>
