<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>st patricks center | app</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
  </head>
  <body>

    
      <section>
          
          <img src="../static/img/logo.png" alt width="50%" id="logo">


        <ul id="gallery" width="100%">
            
            <li width="100%">
            <a href="persons/points.png">
              <img src="../static/img/persons/points.png" alt width="100%">
            </a>
          </li>
            
            
          <li width="100%">
            <a href="../static/img/persons/header.png">
              <img src="../static/img/persons/header.png" alt width="100%">
            </a>
          </li>
          <li width="100%">
            <a href="../static/img/persons/one.png">
              <img src="../static/img/persons/one.png" alt width="100%">
            </a>
          </li>
          <li width="100%">
            <a href="../static/img/persons/two.png">
              <img src="../static/img/persons/two.png" alt width="100%">
            </a>
          </li>
          <li width="100%">
            <a href="../static/img/persons/three.png">
              <img src="../static/img/persons/three.png" alt width="100%">
            </a>
          </li>
          <li width="100%">
            <a href="../static/img/persons/four.png">
              <img src="../static/img/persons/four.png" alt width="100%">
            </a>
          </li>
          <li width="100%">
            <a href="../static/img/persons/five.png">
              <img src="../static/img/persons/five.png" alt width="100%">
            </a>
          </li>
           <li width="100%">
            <a href="persons/six.png">
              <img src="persons/six.png" alt width="100%">
            </a>
          </li>
          <li width="100%">
            <a href="../static/img/persons/seven.png">
              <img src="../static/img/persons/seven.png" alt width="100%">
            </a>
          </li>
          <li width="100%">
            <a href="../static/img/persons/eight.png">
              <img src="../static/img/persons/eight.png" alt width="100%">
            </a>
          </li>
          <li width="100%">
            <a href="../static/img/persons/nine.png">
              <img src="../static/img/persons/nine.png" alt width="100%">
            </a>
          </li>
             <li width="100%">
            <a href="../static/img/persons/ten.png">
              <img src="../static/img/persons/ten.png" alt width="100%">
            </a>
          </li>
        </ul>
      </section>
      <footer>
        <a href="http://twitter.com/nickrp"><img src="../static/img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="http://facebook.com/nickpettit"><img src="../static/img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
        <p>&copy; 2016 ST. Patricks Center.</p>
      </footer>

  </body>
</html>
